<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css"/>


</head>
<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="col-md-1 column">
                <ul class="nav nav-tabs">
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/register.html">Register</a></li>
                    <li class="active"><a href="/customerlist.html">Customer</a></li>
                    <li><a href="/customerSearch.html">CustomerSearch</a></li>
                </ul>
            </div>
            <div class="col-md-11 column">
                <div id='list'>
                    <h3>ListPage</h3>
                    <table class="table table-striped table-bordered table-hover table-responsive">
                        <caption>客户信息</caption>
                        <tr v-if="resp === '777'">
                            <!--//{{item.message}}-->
                        </tr>
                        <tr>
                            <th>编号</th>
                            <th>姓名</th>
                            <th>手机号码</th>
                            <th>地址</th>
                            <th>详细信息</th>
                            <th>operation</th>
                        </tr>
                        </tr>
                        <tr v-if="resp !== null" v-for="customer in customers">
                            <td>{{customer.id}}</td>
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone}}</td>
                            <td>{{customer.address}}</td>
                            <td>{{customer}}</td>
                            <td>
                                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_edit">
                                    编辑
                                </button>
                                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal_del">删除
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div>
                        <page :current="1" :showitem="10" :allpage="resp"></page>
                    </div>
                </div>
                <script type="text/x-template" id="page1">
                    <ul class="pagination">
                        <li v-show="cur != 1" @click="cur-- && goto(cur)"><a href="#">上一页</a></li>
                        <li v-for="index in pages" @click="goto(index)" :class="{'active':false}"
                            :key="index">
                            <a href="#">{{index}}</a>
                        </li>
                        <li v-show="allpage != cur && allpage != 0 " @click="cur++ && goto(cur)"><a
                                href="#">下一页</a></li>
                    </ul>
                </script>
            </div>

            <!--模态框_编辑-->
            <div class="modal fade" id="myModal_edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                        </div>
                        <div class="modal-body"><p>在这里添加一些文本</p>
                            <p>{{customer.id}}</p></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">提交更改</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <!--模态框_删除-->
            <div class="modal fade" id="myModal_del" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">模态框（Modal）标题</h4>
                        </div>
                        <div class="modal-body">在这里添加一些文本</div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                            <button type="button" class="btn btn-primary">提交更改</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
            <script type="text/x-template" id="page">
                <ul class="pagination">
                    <li v-show="current != 1" @click="current-- && goto(current)"><a href="#">上一页</a></li>
                    <li v-for="index in pages" @click="goto(index)" :class="{'active':current == index}" :key="index">
                        <a href="#">{{index}}</a>
                    </li>
                    <li v-show="allpage != current && allpage != 0 " @click="current++ && goto(current++)"><a href="#">下一页</a>
                    </li>
                </ul>
            </script>
            <script src="/customer.js"></script>

</body>
</html>